body{

margin:0;

font-family:Arial, sans-serif;

background:#dff6ff;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.card{

background:white;

padding:30px;

border-radius:20px;

width:90%;

max-width:500px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

h1{

color:#0077b6;

}

p{

font-size:20px;

line-height:1.6;

}

button{

margin-top:20px;

padding:12px 25px;

font-size:18px;

background:#0096c7;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#0077b6;

}
